@import "../utils/_variables";

body {
  background-color: $color-gray;
}

.gallery {
  max-width: 98vw;
  margin: 0 auto;
}

.gallery__item {
  width: calc(100%/3);
  overflow: hidden;
  @media #{$tablet} {
    width: 50%;
  }
  @media #{$mobile} {
    width: 100%;
  }
  &:hover {
    .gallery__image {
      transform: scale(1.3);
    }
    .gallery__image--info {
      opacity: 1;
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.gallery__image {
  width: 100%;
  transform: scale(1.05);
  transition: $animate-time;
}

.gallery__image--info {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: $color-white;
  text-align: center;
  opacity: 0;
  transition: $animate-time;
  &:after {
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-white;
    transition: $animate-time;
    opacity: 0;
  }
}
