@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap&subset=latin-ext');
@import "./utils/_variables";

body {
  font-family: 'Roboto Mono', monospace;
  text-transform: capitalize;
  color: $color-white;
}

h1,p {
  text-shadow: 0px 0px 7px $color-gray;
}

h1 {
  font-weight: 700;
  font-size: calc(15px + 1vw);
  line-height: calc(17px + 1vw);
}

p {
  font-weight: 400;
  font-size: calc(10px + .5vw);
  line-height: calc(12px + .5vw);
}
